body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f4f4f4;
    overflow: hidden;
  }
  
 
  
  
  .main{
    margin-top: 10vh;
    display: flex;
    gap: 1rem;
  }
  #map {
    height: 80vh; /* 60% of viewport height */
    width: 60vw; /* 60% of viewport width */
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  .nav {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
}
.ship {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1.5rem;
  width:6rem;
  height: 40%;
  font-size: 0.8rem;
  font-weight: 100;
  background-color: #016CA0;
  color: white;
}
.ship-routers{
    display: flex;

    width:100%;
    height:100%;
    overflow: hidden;
}
.ship-routers{
    width:100%;
    
    object-fit: cover;
}
.other-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    a{
      text-decoration: none;
      color: #0078a8;
    }

}

.other-elements h1 {
    font-size: 0.8rem;
    font-weight: 100;
    color: #016CA0;
}


  .h1{
    font-size: 1.2rem;

  }
  
  .controls {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20vw;
    text-align: center;
  }
  
  .controls select {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .controls button {
    padding: 10px 20px;
    background: #0078a8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .controls button:hover {
    background: #005f87;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
  }